<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ClicknEat</title>
    
</head>

<body>
    {%load static%}
    <div class="row container-fluid mt-5" id="about" style="background-color: #f4f3f3; padding:20px;">

        <div class="col-md-8">
            <div class="india_head">
                <h1>Eat Anywhere, Anytime!!</h1>
            </div>
            <div class="india_text">Founded in 2012, ClicknEat is a leading online food company that has revolutionized
                the
                culinary landscape in India. With an extensive network of kitchens established in almost every city
                across the
                country, they have become a go-to destination for food lovers. ClicknEat offers a seamless online
                ordering
                experience, allowing customers to explore a diverse menu that caters to all taste buds. From traditional
                Indian
                delicacies to global cuisines, their culinary experts craft mouthwatering dishes using fresh,
                high-quality
                ingredients. With prompt delivery and a commitment to customer satisfaction, ClicknEat has earned a
                reputation
                as a trusted and beloved food brand nationwide.</div>
        </div>
        <div class="col-md-4 ">
            <img class="img-fluid" src="{%static 'img/india_f.png' %}">
        </div>

    </div>
</body>

</html>